In [2]:
import pandas as pd

In [5]:
years = range(2011, (2016 + 1)) # 2006 to 2016

In [6]:
world_gdp_df_raw = pd.read_csv("./gdp_from_world_bank/API_NY.GDP.PCAP.CD_DS2_en_csv_v2.csv", skiprows=4)

keep_columns = ['Country Name', 'Country Code'] + map(str, years)
# print(keep_columns)
world_gdp_df_raw = world_gdp_df_raw[keep_columns]

world_gdp_df_raw.head()

,Country Name,Country Code,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,25324.720362,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,603.537023,669.009051,631.744971,612.069651,584.025902,561.778746
2,Angola,AGO,4299.012889,4598.249988,4804.616884,4709.312024,3695.793748,3110.808183
3,Albania,ALB,4437.178068,4247.614308,4414.723140,4575.763787,3954.022783,4146.896250
4,Andorra,AND,40919.183279,38167.095746,40215.435317,NaN,NaN,NaN

In [4]:
rename_gdp_dict = {
    "Country Name": "country_name",
    "Country Code": "country_code"
}

for year in map(str, years):
    rename_gdp_dict[year] = ("gdp_%s" % year)
    
world_gdp_df = world_gdp_df.rename(columns=rename_gdp_dict)

world_gdp_df.head()

,country_name,country_code,gdp_2004,gdp_2005,gdp_2006,gdp_2007,gdp_2008,gdp_2009,gdp_2010,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016
0,Aruba,ABW,22567.824925,23302.831988,24014.944267,25921.026052,27546.899390,24631.434860,24271.940421,25324.720362,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,219.141353,250.294130,272.563077,369.835796,373.361116,445.893298,553.300289,603.537023,669.009051,631.744971,612.069651,584.025902,561.778746
2,Angola,AGO,1041.086844,1443.991929,2062.415149,2878.837144,3868.578883,3347.844850,3529.053482,4299.012889,4598.249988,4804.616884,4709.312024,3695.793748,3110.808183
3,Albania,ALB,2416.588235,2709.142931,3005.012903,3603.013685,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4414.723140,4575.763787,3954.022783,4146.896250
4,Andorra,AND,38255.950499,41185.989021,43666.985145,48510.467283,47712.299081,43215.687013,39627.663516,40919.183279,38167.095746,40215.435317,NaN,NaN,NaN

## Same for economic freedom

In [5]:
economic_freedom_raw_df = pd.read_csv("./frazer_institute_economic_freedom/economic-freedom-of-the-world-data-for-researchers.csv")

In [6]:
economic_freedom_raw_df["Year"].unique()

array([2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004,
       2003, 2002, 2001, 2000, 1995, 1990, 1985, 1980, 1975, 1970])

In [7]:
economic_freedom_raw_df[economic_freedom_raw_df["Year"] == years[0]]

,Year,ISO_Code,Countries,Economic Freedom Summary Index,Government Consumption,1A data,Transfers and subsidies,1B data,Government enterprises and investment,1C data,...,Conscription,Labor market regulations,Administrative requirements,Bureaucracy costs,Starting a business,Extra payments/bribes/favoritism,Licensing restrictions,Tax compliance,Business regulations,Regulation
1590,2004,BTN,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1591,2004,BRN,Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,2004,KHM,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1593,2004,CPV,Cape Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1594,2004,GIN,Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,2004,QAT,Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,2004,SAU,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,2004,SYC,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,2004,SUR,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1599,2004,SWZ,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600,2004,TLS,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1601,2004,YEM,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1602,2004,HKG,Hong Kong,8.81,7.59,14.19,8.83,4.78,10.0,1.38,...,10.0,9.33,6.30,5.55,9.61,8.15,8.39,9.10,7.85,9.03
1603,2004,SGP,Singapore,8.75,5.98,19.65,8.73,5.16,7.0,21.30,...,0.0,7.68,7.30,8.21,9.80,9.25,9.26,9.45,8.88,8.85
1604,2004,NZL,New Zealand,8.52,4.93,23.23,7.02,11.45,8.0,16.33,...,10.0,8.59,3.65,7.55,9.61,9.49,9.86,9.22,8.23,8.94
1605,2004,CHE,Switzerland,8.50,6.94,16.41,5.39,17.43,10.0,12.62,...,5.0,7.52,4.63,8.14,9.22,8.57,8.41,9.29,8.04,8.27
1606,2004,USA,United States,8.42,6.37,18.33,6.72,12.55,8.0,17.11,...,10.0,9.26,4.32,7.07,9.80,8.52,9.97,6.36,7.67,8.74
1607,2004,GBR,United Kingdom,8.31,4.56,24.51,6.24,14.29,10.0,12.92,...,10.0,8.45,3.30,7.99,9.58,8.78,8.57,8.82,7.84,8.56
1608,2004,CAN,Canada,8.17,4.21,25.69,7.27,10.53,8.0,15.52,...,10.0,8.22,4.01,7.66,9.89,8.38,9.34,8.67,7.99,8.74
1609,2004,IRL,Ireland,8.13,4.70,24.03,4.20,21.78,10.0,13.14,...,10.0,7.40,4.61,8.29,9.37,8.52,7.90,9.15,7.97,8.24
1610,2004,ISL,Iceland,8.06,2.68,30.89,7.74,8.79,8.0,16.52,...,10.0,7.58,5.72,8.97,9.75,9.51,9.44,8.43,8.64,8.74
1611,2004,AUS,Australia,8.01,4.91,23.32,6.65,12.78,10.0,10.54,...,10.0,7.64,3.28,7.14,9.92,8.81,7.29,8.80,7.54,8.39
1612,2004,DNK,Denmark,8.00,1.36,35.37,3.95,22.71,10.0,13.59,...,3.0,7.26,4.93,6.98,9.65,9.06,9.67,8.49,8.13,8.46
1613,2004,EST,Estonia,7.98,4.31,25.33,6.95,11.69,10.0,13.86,...,3.0,5.81,5.19,7.33,8.68,7.84,9.03,9.09,7.86,7.89
1614,2004,LUX,Luxembourg,7.98,2.61,31.13,3.69,23.65,8.0,19.99,...,10.0,6.41,3.75,8.59,NaN,8.80,NaN,NaN,7.05,7.77
1615,2004,AUT,Austria,7.90,4.65,24.18,2.60,27.67,10.0,9.96,...,3.0,5.99,3.87,8.09,8.84,8.70,7.61,8.09,7.53,7.65
1616,2004,FIN,Finland,7.87,2.87,30.23,4.30,21.41,8.0,17.54,...,3.0,4.84,5.78,9.71,9.45,9.13,10.00,6.98,8.51,7.78
1617,2004,CHL,Chile,7.86,6.84,16.74,7.53,9.55,10.0,14.43,...,0.0,5.73,4.41,7.87,9.03,8.04,8.13,6.46,7.32,7.35
1618,2004,JPN,Japan,7.77,4.77,23.80,5.13,18.39,8.0,17.52,...,10.0,8.58,3.98,9.03,8.65,8.66,8.75,6.47,7.59,7.85
1619,2004,NLD,Netherlands,7.75,2.02,33.13,3.99,22.55,8.0,19.26,...,10.0,6.56,3.43,5.76,9.30,8.41,7.17,7.20,6.88,7.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,2004,UKR,Ukraine,5.52,4.52,24.63,5.23,18.01,4.0,NaN,...,1.0,6.08,2.73,3.43,8.20,5.30,3.70,0.00,3.89,5.88
1720,2004,TCD,Chad,5.49,9.85,6.50,9.92,0.80,4.0,34.30,...,3.0,5.74,2.72,6.38,2.24,2.79,5.57,1.79,3.58,5.03
1721,2004,SLE,Sierra Leone,5.33,7.85,13.31,10.00,0.00,2.0,43.37,...,10.0,5.68,NaN,NaN,5.83,NaN,2.09,5.53,4.48,5.17
1722,2004,CAF,Central Afr. Rep.,5.32,8.65,10.61,NaN,NaN,4.0,33.00,...,0.0,4.47,NaN,NaN,5.15,NaN,6.46,4.35,5.32,5.70
1723,2004,NER,Niger,5.27,7.86,13.28,NaN,NaN,4.0,32.40,...,0.0,3.14,NaN,NaN,3.05,NaN,1.45,6.97,3.83,4.67
1724,2004,DZA,Algeria,5.16,3.99,26.43,6.78,12.30,2.0,43.80,...,1.0,4.98,2.15,5.80,8.92,4.57,6.88,4.94,5.54,4.94
1725,2004,BDI,Burundi,4.91,5.77,20.38,9.43,2.60,0.0,82.00,...,10.0,8.07,NaN,NaN,6.87,NaN,2.46,8.43,5.92,6.78
1726,2004,VEN,Venezuela,4.91,5.81,20.25,6.05,14.98,2.0,42.36,...,0.0,3.21,1.95,1.43,6.37,4.45,4.53,0.32,3.18,5.20
1727,2004,COD,"Congo, Dem. R.",4.78,9.26,8.53,10.00,0.00,7.0,21.81,...,3.0,5.11,NaN,NaN,3.33,NaN,0.67,6.55,3.52,4.47
1728,2004,GNB,Guinea-Bissau,4.73,7.07,15.97,NaN,NaN,0.0,79.97,...,0.0,3.13,NaN,NaN,0.40,NaN,3.44,7.67,3.83,4.42
1729,2004,COG,"Congo, Rep. Of",4.60,2.09,32.88,9.49,2.39,6.0,29.87,...,10.0,6.01,NaN,NaN,6.43,NaN,6.93,3.21,5.52,5.77
1730,2004,MMR,Myanmar,3.81,8.32,11.73,NaN,NaN,4.0,34.36,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.35
1731,2004,ZWE,Zimbabwe,3.25,5.74,20.47,7.75,8.77,6.0,29.90,...,10.0,4.99,2.38,1.79,6.71,5.54,0.00,7.58,4.00,4.51
1732,2004,AGO,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1733,2004,BIH,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1734,2004,BFA,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1735,2004,ETH,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1736,2004,GMB,"Gambia, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1737,2004,KAZ,Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,2004,KGZ,Kyrgyz Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1739,2004,LAO,Laos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,2004,LBN,Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1741,2004,LSO,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1742,2004,LBR,Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1743,2004,LBY,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1744,2004,MRT,Mauritania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1745,2004,MDA,Moldova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1746,2004,MNE,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1747,2004,SRB,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1748,2004,TJK,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
economic_freedom_partial_dfs = []

for year in years:
    economic_freedom_partial_dfs.append(economic_freedom_raw_df[economic_freedom_raw_df["Year"] == year][
        ["ISO_Code", "Countries", "Economic Freedom Summary Index"]].rename(columns={
            "ISO_Code": "economic_freedom_country_code",
            "Countries": "economic_freedom_country_name",
            "Economic Freedom Summary Index": ("economic_freedom_index_%s" % year)}))


len(economic_freedom_partial_dfs)

13

In [9]:
economic_freedom_df = economic_freedom_partial_dfs[0]
# economic_freedom_df  = economic_freedom_df.reindex(columns=economic_freedom_df.columns)

for i in range(1, len(economic_freedom_partial_dfs)):
    # print(economic_freedom_partial_dfs[i].head())
    current = economic_freedom_partial_dfs[i]
    if not current.empty:
        current = current.rename(columns={
            "economic_freedom_country_code": "economic_freedom_country_code_RIGHT",
            "economic_freedom_country_name": "economic_freedom_country_name_RIGHT",
        })
        # print(current.head())
        economic_freedom_df = pd.merge(economic_freedom_df,
                                       current,
                                       how='inner',
                                       left_on="economic_freedom_country_code",
                                       right_on="economic_freedom_country_code_RIGHT")
        # print(economic_freedom_df.columns)
        del economic_freedom_df['economic_freedom_country_code_RIGHT']
        del economic_freedom_df['economic_freedom_country_name_RIGHT']

economic_freedom_df.head()

,economic_freedom_country_code,economic_freedom_country_name,economic_freedom_index_2004,economic_freedom_index_2005,economic_freedom_index_2006,economic_freedom_index_2007,economic_freedom_index_2008,economic_freedom_index_2009,economic_freedom_index_2010,economic_freedom_index_2011,economic_freedom_index_2012,economic_freedom_index_2013,economic_freedom_index_2014
0,BTN,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.04,7.07
1,BRN,Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,7.17,7.03,7.18,7.17,7.25
2,KHM,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,7.10,7.00,6.96,7.20,7.20
3,CPV,Cape Verde,NaN,NaN,NaN,NaN,NaN,NaN,6.39,6.54,6.79,6.94,6.89
4,GIN,Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.13,5.10

## Democracy Index from Economist Business Unit

In [10]:
democracy_df = pd.read_csv("./democracy_index_from_wikipedia/democracy_index_2016.csv")

democracy_df.head()

,position,country_name,flag_uri,score,electoral_process_and_pluralism,functioning_of_government,political_participation,political_culture,civil_liberties,category
0,1,Norway,//upload.wikimedia.org/wikipedia/commons/thumb...,9.93,10.00,9.64,10.00,10.00,10.00,Full democracy
1,2,Iceland,//upload.wikimedia.org/wikipedia/commons/thumb...,9.50,10.00,8.93,8.89,10.00,9.71,Full democracy
2,3,Sweden,//upload.wikimedia.org/wikipedia/en/thumb/4/4c...,9.39,9.58,9.64,8.33,10.00,9.41,Full democracy
3,4,New Zealand,//upload.wikimedia.org/wikipedia/commons/thumb...,9.26,10.00,9.29,8.89,8.13,10.00,Full democracy
4,5,Denmark,//upload.wikimedia.org/wikipedia/commons/thumb...,9.20,9.58,9.29,8.33,9.38,9.41,Full democracy

In [11]:
democracy_df = democracy_df[["country_name", "score"]].rename(columns={"score": "democracy_score_2016"})

democracy_df.head()

  country_name  democracy_score_2016
0       Norway                  9.93
1      Iceland                  9.50
2       Sweden                  9.39
3  New Zealand                  9.26
4      Denmark                  9.20

In [12]:
from os import listdir

In [13]:
import os.path as path

In [14]:
indexes_dir = "scrapped_democracy_indexes_from_econominst_bu"

listdir(indexes_dir)

['democracy_index_2014.csv',
 'democracy_index_2012.csv',
 'democracy_index_2015.csv',
 'sha512sums.txt',
 'democracy_index_2013.csv',
 'democracy_index_2011.csv']

In [15]:
democracy_index_years = range(2011, (2015 + 1)) # Used +1 to indicate that the last year is 2015

In [16]:
for year in democracy_index_years:
    # print(year)
    target_file_location = path.join(indexes_dir, ("democracy_index_%s.csv" % year))
    # print(target_file_location)
    current_year_df = pd.read_csv(target_file_location)
    current_year_df = current_year_df[["Country", "Overall Score"]].rename(columns={
        "Country": "country_name_RIGHT",
        "Overall Score": ("democracy_score_%s" % year)
    })
    # print(current_year_df.head())
    # Le Mergé:
    democracy_df = pd.merge(democracy_df, current_year_df,
                            how="inner",
                            left_on="country_name",
                            right_on="country_name_RIGHT")
    del democracy_df['country_name_RIGHT']
    # print(democracy_df.head())

In [17]:
democracy_df.head()

,country_name,democracy_score_2016,democracy_score_2011,democracy_score_2012,democracy_score_2013,democracy_score_2014,democracy_score_2015
0,Norway,9.93,9.80,9.93,9.93,9.93,9.93
1,Iceland,9.50,9.65,9.65,9.65,9.58,9.58
2,Sweden,9.39,9.50,9.73,9.73,9.73,9.45
3,New Zealand,9.26,9.26,9.26,9.26,9.26,9.26
4,Denmark,9.20,9.52,9.52,9.38,9.11,9.11

## Mega-Merge

In [18]:
len(democracy_df)

161

In [19]:
len(economic_freedom_df)

159

In [20]:
len(world_gdp_df)

264

In [21]:
project_df_part = pd.merge(world_gdp_df, economic_freedom_df, how="inner",
                      left_on="country_code", right_on="economic_freedom_country_code")

del project_df_part['economic_freedom_country_code']
del project_df_part['economic_freedom_country_name']
# project_df_part.columns
project_df_part.head()

,country_name,country_code,gdp_2004,gdp_2005,gdp_2006,gdp_2007,gdp_2008,gdp_2009,gdp_2010,gdp_2011,...,economic_freedom_index_2005,economic_freedom_index_2006,economic_freedom_index_2007,economic_freedom_index_2008,economic_freedom_index_2009,economic_freedom_index_2010,economic_freedom_index_2011,economic_freedom_index_2012,economic_freedom_index_2013,economic_freedom_index_2014
0,Angola,AGO,1041.086844,1443.991929,2062.415149,2878.837144,3868.578883,3347.844850,3529.053482,4299.012889,...,3.81,4.43,4.58,4.43,5.19,5.26,5.13,5.32,5.21,5.08
1,Albania,ALB,2416.588235,2709.142931,3005.012903,3603.013685,4370.539647,4114.136545,4094.358832,4437.178068,...,6.98,7.16,7.23,7.24,7.32,7.37,7.25,7.21,7.27,7.40
2,United Arab Emirates,ARE,36161.170607,39439.801968,42372.221662,42672.613229,45758.905536,33072.575166,35049.148317,40462.312090,...,7.71,7.87,7.96,7.99,7.72,7.91,8.06,8.08,8.11,7.98
3,Argentina,ARG,4251.574348,5076.883829,5878.761027,7193.617640,8953.359275,8161.306966,10276.260498,12726.908359,...,5.99,6.11,6.22,6.01,5.97,5.74,5.67,5.15,5.01,4.81
4,Armenia,ARM,1191.961920,1643.758397,2158.002909,3138.808703,4010.026997,2993.832531,3218.381655,3526.978143,...,7.31,7.46,7.43,7.60,7.56,7.55,7.71,7.75,7.70,7.71

In [22]:
project_df = pd.merge(project_df_part, democracy_df, how="inner",
                      left_on="country_name", right_on="country_name")

project_df.head()

,country_name,country_code,gdp_2004,gdp_2005,gdp_2006,gdp_2007,gdp_2008,gdp_2009,gdp_2010,gdp_2011,...,economic_freedom_index_2011,economic_freedom_index_2012,economic_freedom_index_2013,economic_freedom_index_2014,democracy_score_2016,democracy_score_2011,democracy_score_2012,democracy_score_2013,democracy_score_2014,democracy_score_2015
0,Angola,AGO,1041.086844,1443.991929,2062.415149,2878.837144,3868.578883,3347.844850,3529.053482,4299.012889,...,5.13,5.32,5.21,5.08,3.40,3.32,3.35,3.35,3.35,3.35
1,Albania,ALB,2416.588235,2709.142931,3005.012903,3603.013685,4370.539647,4114.136545,4094.358832,4437.178068,...,7.25,7.21,7.27,7.40,5.91,5.81,5.67,5.67,5.67,5.91
2,United Arab Emirates,ARE,36161.170607,39439.801968,42372.221662,42672.613229,45758.905536,33072.575166,35049.148317,40462.312090,...,8.06,8.08,8.11,7.98,2.75,2.58,2.58,2.52,2.64,2.75
3,Argentina,ARG,4251.574348,5076.883829,5878.761027,7193.617640,8953.359275,8161.306966,10276.260498,12726.908359,...,5.67,5.15,5.01,4.81,6.96,6.84,6.84,6.84,6.84,7.02
4,Armenia,ARM,1191.961920,1643.758397,2158.002909,3138.808703,4010.026997,2993.832531,3218.381655,3526.978143,...,7.71,7.75,7.70,7.71,3.88,4.09,4.09,4.02,4.13,4.00

In [23]:
project_df.to_csv("project_data.csv", encoding='utf-8', index=False)