In [1]:
import pandas as pd

# Import to data frames

In [8]:
#
# TODOs:
# Prefix every dataset on load or later
#

## GPD per capita from World Bank

In [9]:
world_gdp_df = pd.read_csv("./gdp_from_world_bank/API_NY.GDP.PCAP.CD_DS2_en_csv_v2.csv", skiprows=4)

world_gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27546.899390,24631.434860,24271.940421,25324.720362,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,373.361116,445.893298,553.300289,603.537023,669.009051,631.744971,612.069651,584.025902,561.778746,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3868.578883,3347.844850,3529.053482,4299.012889,4598.249988,4804.616884,4709.312024,3695.793748,3110.808183,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4414.723140,4575.763787,3954.022783,4146.896250,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,47712.299081,43215.687013,39627.663516,40919.183279,38167.095746,40215.435317,NaN,NaN,NaN,NaN

## Economic Freedom from Frazer institute

In [3]:
economic_freedom_df = pd.read_csv("./frazer_institute_economic_freedom/economic-freedom-of-the-world-data-for-researchers.csv")

economic_freedom_df.head()

,Year,ISO_Code,Countries,Economic Freedom Summary Index,Government Consumption,1A data,Transfers and subsidies,1B data,Government enterprises and investment,1C data,...,Conscription,Labor market regulations,Administrative requirements,Bureaucracy costs,Starting a business,Extra payments/bribes/favoritism,Licensing restrictions,Tax compliance,Business regulations,Regulation
0,2014,HKG,Hong Kong,9.03,8.08,12.54,9.17,3.55,10.0,12.62,...,10.0,9.38,7.05,3.05,9.94,7.34,9.74,9.17,7.72,9.03
1,2014,SGP,Singapore,8.71,5.46,21.44,8.85,4.71,7.0,NaN,...,0.0,7.80,7.29,2.15,9.91,8.32,10.00,9.06,7.79,8.53
2,2014,NZL,New Zealand,8.35,4.40,25.05,6.17,14.56,8.0,16.66,...,10.0,8.48,4.76,2.04,9.98,8.45,9.40,8.30,7.15,8.51
3,2014,CHE,Switzerland,8.25,6.79,16.90,6.03,15.08,10.0,12.68,...,5.0,7.74,5.87,1.48,9.58,7.56,8.37,9.29,7.02,8.03
4,2014,CAN,Canada,7.98,3.68,27.50,7.61,9.26,8.0,16.24,...,10.0,8.14,4.73,2.02,9.95,6.72,6.86,8.53,6.47,8.11

## Economist's Business Unit Democracy Index from Wikipedia

In [5]:
democracy_df = pd.read_csv("./democracy_index_from_wikipedia/democracy_index_2016.csv")

democracy_df.head()

,position,country_name,flag_uri,score,electoral_process_and_pluralism,functioning_of_government,political_participation,political_culture,civil_liberties,category
0,1,Norway,//upload.wikimedia.org/wikipedia/commons/thumb...,9.93,10.00,9.64,10.00,10.00,10.00,Full democracy
1,2,Iceland,//upload.wikimedia.org/wikipedia/commons/thumb...,9.50,10.00,8.93,8.89,10.00,9.71,Full democracy
2,3,Sweden,//upload.wikimedia.org/wikipedia/en/thumb/4/4c...,9.39,9.58,9.64,8.33,10.00,9.41,Full democracy
3,4,New Zealand,//upload.wikimedia.org/wikipedia/commons/thumb...,9.26,10.00,9.29,8.89,8.13,10.00,Full democracy
4,5,Denmark,//upload.wikimedia.org/wikipedia/commons/thumb...,9.20,9.58,9.29,8.33,9.38,9.41,Full democracy

# Extract only necessary data and join

In [21]:
gdp_subset_df = world_gdp_df[["Country Name", "Country Code", "2016"]]
    .rename(columns={'Country Name': 'per_capita_country_name',
                              'Country Code': 'per_capita_country_code',
                              '2016': 'per_capita_income'}, inplace=True)
gdp_subset_df.dropna(inplace=True)

gdp_subset_df.head()

IndentationError: unexpected indent (<ipython-input-21-5e8ac7b0bc3e>, line 2)