# Melt - Wide to Long

- <http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html>
- <https://www.reddit.com/r/learnpython/comments/50fpxt/pandas_converting_wide_to_long_format/>
- <https://stackoverflow.com/questions/37418295/wide-to-long-data-transform-in-pandas>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [3]:
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [4]:
pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6